.media-search {}

.media-search__form {
    max-width: 558px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.media-search__form__load-more-button, .media-search__form__search-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.media-search__form__search-button {
    display: block;
}

.media-search__search-result {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
}